.BOX_BTN{
    margin: 5px;
    display: flex;
    flex-wrap: wrap;
    flex-direction: row;
    justify-content: flex-start;
    align-items: center;
}
.STRSH_BTN{
    margin: 5px;
    width: 80px;
    height: 40px;
    border: none;
    outline: none;
    background: none;
    background-color: var(--button-background);
    border-radius: 10px;
    cursor: pointer;
}